#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ArchPie
Exec=/usr/bin/gnome-pie -o 606
Encoding=UTF-8
Type=Application
Icon=gnome-applications
StartupWMClass=gnome-pie-606
